---
// eslint-disable-next-line import/no-unresolved
import { Icon } from "astro-icon";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<nav
  class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg"
>
  <div
    class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
  >
    <div class="container-fluid">
      <a
        class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1"
        href="#"
      >
        <Icon name="mdi:star" height="30px" />
        {title}
      </a>
    </div>
  </div>
</nav>
